<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multimedia 3 - MP4 y Audio</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
    <div class="container">
        <h1>Videos y Audios</h1>

        <video controls class="video" src="../statics/videos/video1.mp4"></video>
        <video controls class="video" src="../statics/videos/video2.mp4"></video>
        <video controls class="video" src="../statics/videos/video3.mp4"></video>

        <audio controls src="../statics/audios/audio1.mp3"></audio>
        <audio controls src="../statics/audios/audio2.mp3"></audio>
        <audio controls src="../statics/audios/audio3.mp3"></audio>

        <div class="botones">
            <a class="btn" href="../index.html">Inicio</a>
        </div>
    </div>
</body>
</html>