<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multimedia 2 - YouTube</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
    <div class="container">
        <h1>Videos de YouTube</h1>

        <iframe class="video" src="https://www.youtube.com/embed/rbuYtrNUxg4"></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/W6GTDfrWjXs"></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/z95mZVUcJ-E"></iframe>

        <div class="botones">
            <a class="btn" href="../index.html">Inicio</a>
        </div>
    </div>
</body>
</html>