<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multimedia 2 - YouTube</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
    <div class="container">
        <h1>Videos de YouTube</h1>

        <!-- Video 1 - Tutorial HTML -->
        <iframe class="video" 
                src="https://www.youtube.com/embed/rbuYtrNUxg4"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>

        <!-- Video 2 - Tutorial CSS -->
        <iframe class="video" 
                src="https://www.youtube.com/embed/W6GTDfrWjXs"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>

        <!-- Video 3 - Tutorial JavaScript -->
        <iframe class="video" 
                src="https://www.youtube.com/embed/z95mZVUcJ-E"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>

        <div class="botones">
            <a class="btn" href="../index.html">Inicio</a>
        </div>
    </div>

</body>
</html>